{% extends "base.html" %} {% set active_page = "home" %} {% block title %}Home{%
endblock %} {% block body %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center">
  <div class="container" data-aos="zoom-in" data-aos-delay="100">
    <h1>Yurii Bodnar</h1>
    <p>
      I'm
      <span class="typed" data-typed-items="Front End developer, React Developer"></span>
    </p>
    <div class="social-links">
      <a href="https://twitter.com" target="_blank" class="twitter"
        ><i class="bx bxl-twitter"></i
      ></a>
      <a
        href="https://www.facebook.com/"
        target="_blank"
        class="facebook"
        ><i class="bx bxl-facebook"></i
      ></a>
      <a
        href="https://www.instagram.com/y_bond_i/"
        target="_blank"
        class="instagram"
        ><i class="bx bxl-instagram"></i
      ></a>
      <a href="https://github.com/YuriyBodnarIvanovich" target="_blank" class="github"
        ><i class="bx bxl-github"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/yuriy-bodnar-a678071a9/"
        target="_blank"
        class="linkedin"
        ><i class="bx bxl-linkedin"></i
      ></a>
    </div>
  </div>
</section>
<!-- End Hero -->
{% endblock %}
