{% extends "base.html" %}

{%block title%}Коротка інформація{% endblock %}
{%block info%}
<div class="info_about_me">
  Мене звати Боданр Юрій.<br>
  {% if month==4 and day==12 %}
  Мені сьогодні виповнилося {{age}} років.<br>
  {% else %}
  Мені {{age}}.<br>
  {% endif %}
  І я створив цю сторінку, щоб коротко розказати про себе.<br>
  Народився в с. Нові Кривотули 12.04.2001р.<br>
  Навчався у Прикарпатському війсьовому ліцею м. Надвірна<br>
  Після закінчення школи вступив до Прикарпатського національного університету імені Василя Стефаника, де навчаюся зараз.<br>
  Спеціальність: інженерія програмного забезпечення.<br>
  Курс: 4.<br>
</div>
{% endblock %}